@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;

  @media (min-width: 768px) {
    min-width: 1200px;
  }
}

:root {
  --font: 'Space Grotesk', sans-serif;
  /* colour palette */
  --primary-colour: #ff9a3e;
  --primary-colour-alt: #f47a1e;
  --primary-colour-alt2: #E2FFF7;
  --secondary-colour: #3c3c3c;
  --secondary-colour-alt: #252525;
  --background-colour: #F5F5F5;
  --background-colour-alt: #E1E1E1;

  --custom-red: #F96E6E;

  --green-pin: #48C199;
  --red-pin: #C14848;
  --blue-pin: #494381;

  background-color: white;
}

@font-face {
  font-family: 'Cubao Free';
  src: url('../../public/fonts/Cubao_Free_Wide.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #ffffff;
  color: var(--secondary-colour);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  font-family: var(--font), sans-serif;
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  background-color: var(--primary-colour-alt);
  color: var(--background-colour);

  &.alt {
    background-color: transparent;
    color: var(--primary-colour-alt);
    border-color: var(--primary-colour-alt);
    border-width: 2px;
  }
}

input, textarea, select {
  font-family: var(--font), sans-serif;
  font-size: medium;
  background-color: var(--background-colour);
  border: var(--background-colour);
  border-radius: 50px;
  height: 30px;
  padding: 0.5em 1.3em;
  color: var(--secondary-colour)
}

textarea {
  border-radius: 10px;
  padding: 0.5em 0.5em;
}

select {
  height: 50px;
}

input[type="radio"] {
  appearance: none;

  width: 1.25em;
  height: 1.25em;

  border: 2px solid white;

  background-color: transparent;
  display: grid;
  place-content: center;
  cursor: pointer;

  &::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    border: 2px solid var(--primary-colour);
    background-color: transparent;
  }

  &:checked {
    &::before {
      background-color: var(--primary-colour);
    }
  }
}

p, li, h1, h2, h3, h4 {
  font-family: var(--font), sans-serif;
  color: var(--secondary-colour);
}

h1, h2, h3, h4 {
  font-style: normal;
  font-weight: 700;
  line-height: 1.8;
  margin: auto;
}

h1 {
  font-size: 36px;
  font-style: italic;
  line-height: 1.5;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

.label {
  h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-colour-alt);
  }

  width: fit-content;
  border-radius: 10px;
  padding: 0 18px;
  margin-bottom: 20px;

  &.primary {
    background: var(--primary-colour);
    margin: 10px 0;
  }

  &.white {
    background: var(--background-colour);
  }

  &.grey {
    background: var(--background-colour-alt);
  }

  &.black {
    h1, h2, h3, h4, h5, h6 {
      color: var(--background-colour);
    }

    background: var(--secondary-colour);
    margin-bottom: 10px;
  }
}

.primary-text {
  color: var(--primary-colour);
}

.primary-alt-text {
  color: var(--primary-colour-alt);
}

.black-text {
  color: var(--secondary-colour);
}

.white-text {
  color: var(--background-colour);
}

.title-input {
  width: 250px;
}

.login-background {
  width: 90%;
  height: 100%;
  margin: -24px auto;
}

.footer {
  padding: 30px;
  background-color: var(--secondary-colour);

  p {
    color: var(--background-colour);
  }
}