.connections-search {
    h2 {
        text-align: left;
        padding-top: 50px;
    }
    
    padding: 0 150px;
    width: 100%;
    box-sizing: border-box;
}

.input-wrapper {
    display: flex;
}

.username-input {
    width: 100%;
}